*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
html,body,.el-container{
    width: 100%;
    height: 100%;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
